html {
    font-size: 62.5%;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
